.custom-img {
    background-image: url("../../src/img/microsoft-bg.png");
    /* background-repeat: no-repeat; */
}

/* Remove Scrollbar but keep functionality --> https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hide_scrollbar_keep_func  */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.dropdown-menu-1 li{
    transform-origin: top center;
    opacity: 0;
}

.dropdown-menu-1 li:nth-child(1){
    padding-top: 10px;
    animation: animation2 300ms ease-in-out forwards;
    animation-delay: -150ms;
}

.dropdown-menu-1 li:nth-child(2){
    animation: animation2 300ms ease-in-out forwards;
    animation-delay: 0ms;
}

.dropdown-menu-1 li:nth-child(3){
    animation: animation2 300ms ease-in-out forwards;
    animation-delay: 150ms;
}

.dropdown-menu-1 li:nth-child(4){
    animation: animation2 300ms ease-in-out forwards;
    animation-delay: 300ms;
}

.dropdown-menu-1 li:nth-child(5){
    animation: animation2 300ms ease-in-out forwards;
    animation-delay: 450ms;
    padding-bottom: 10px;
}


/* Backend Development */

.dropdown-menu-2 li{
    transform-origin: top center;
    opacity: 0;
}

.dropdown-menu-2 li:nth-child(1){
    animation: animation2 300ms ease-in-out forwards;
    animation-delay: -150ms;
    padding-top: 10px;
}

.dropdown-menu-2 li:nth-child(2){
    animation: animation2 300ms ease-in-out forwards;
    animation-delay: 0ms;
} 
 
 
.dropdown-menu-2 li:nth-child(3){
    animation: animation2 300ms ease-in-out forwards;
    animation-delay: 150ms;
} 

.dropdown-menu-2 li:nth-child(4){
    animation: animation2 300ms ease-in-out forwards;
    animation-delay: 300ms;
} 

.dropdown-menu-2 li:nth-child(5){
    animation: animation2 300ms ease-in-out forwards;
    animation-delay: 450ms;
    padding-bottom: 10px;
} 
/* 
 .dropdown-menu-2 .list-item-0-notshowing{
    animation: animation2Back 300ms ease-out forwards;
    animation-delay: 450ms;
    padding-top: 10px;
}

 .dropdown-menu-2 .list-item-1-notshowing{
    animation: animation2Back 300ms ease-out forwards;
    animation-delay: 300ms;
}

.dropdown-menu-2 .list-item-2-notshowing{
    animation: animation2Back 300ms ease-out forwards;
    animation-delay: 150ms;
}  


.dropdown-menu-2 .list-item-3-notshowing{
    animation: animation2Back 300ms ease-out forwards;
    animation-delay: 0ms;
}

.dropdown-menu-2 .list-item-4-notshowing{
    animation: animation2Back 300ms ease-out forwards;
    animation-delay: -200ms;
    padding-bottom: 10px;
} */

/* @keyframes animation2Back{
    0%{
        opacity:1;
        transform: rotateX(0deg)
    }
    50%{
        transform: rotateX(20deg)
    }
    100%{
        opacity:0;
        transform: rotateX(-90deg)
    }
} */


@keyframes animation2{
    0%{
        opacity:0;
        transform: rotateX(-90deg)
    }
    50%{
        transform: rotateX(20deg)
    }
    100%{
        opacity:1;
        transform: rotateX(0deg)
    }
}